.onlineUserCount{
  text-align: center;
}

.col-md-8, .col-md-2, .col-md-4{
  text-align: center;
}
.choice {
  padding: 10px;
  background-color: lightgray;
  margin: 5px;
}

.circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.circle .animation{
  stroke-dashoffset: 1000;
  animation: stroke 10s ease-out infinite;
}

.statistics .option{
  width: 50px;
  height: 100px;
  background: gray;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

.answeredCount{
  transition: transform 0.1s; /* Animation */
  transform-origin: center center
}

.correct{
  background-color: #dff0d8;
}

.results{
  margin: 10px;
}