<h1>Controlled Quiz</h1>

<div *ngIf="waitingView === true">
    <span>{{quizname}}</span>
    <br/>
    <button (click)="startQuiz()">Ready Quiz</button>
    <svg width="100" height="100">
        <circle class="circle" id="circle" cx="50" cy="50" r="47" stroke="#231f20" stroke-width="5" fill-opacity="0" />
        <text x="50%" y="50%" text-anchor="middle" fill="black" font-size="25px" font-family="Arial" dy=".3em"
            id="timer">{{playerCount}}</text>
        Sorry, your browser does not support inline SVG.
    </svg>
</div>
<div class="container question" *ngIf="currentQuestion && currentQuestion != null">
    <div class="row">
        <div class="col-md-4">
            <svg width="100" height="100">
                <circle class="circle" id="circle" cx="50" cy="50" r="47" stroke="#231f20" stroke-width="5" fill-opacity="0" />
                <text x="50%" y="50%" text-anchor="middle" fill="black" font-size="25px" font-family="Arial" dy=".3em"
                    id="timer">{{currentQuestion.CountDownTimer}}</text>
                Sorry, your browser does not support inline SVG.
            </svg>
        </div>
        <div class="col-md-4">
            {{currentQuestion.QuestionText}}
            <img src="currentQuestion.QuestionImageURL" />
            <br />
            <br />
            <div class="row">
                <span class="col-xs-6 choice" *ngFor="let currentChoice of currentQuestion.Choices">
                    {{currentChoice}} 
                </span>    
            </div>
            
        </div>
        <div class="col-md-4">
            <svg width="100" height="100">
                <circle class="circle" id="circle" cx="50" cy="50" r="47" stroke="#231f20" stroke-width="5" fill-opacity="0" />
                <text x="50%" y="50%" text-anchor="middle" fill="black" font-size="25px" font-family="Arial" dy=".3em"
                    id="timer">{{currentQuestion.AnsweredCount}}</text>
                Sorry, your browser does not support inline SVG.
            </svg>
        </div>
    </div>
</div>
<div *ngIf="statisticsView == true">
    Statistics Stage<br/>
    
</div>
<div *ngIf="resultView == true">Overall Result Stage</div>