.badge{
    margin-left: 10px;
}

.green{
    background-color: green;
}

#delete{
    color:white;
    background-color: red;
}

#delete:hover{
    background-color: darkred;
}

.records{
    display: block;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
}

.form{
    display: block;
    height: 200px;
    overflow-y: scroll;
    text-align: center;
}
