<status [result]="result" (updatedResult)="updateResult($event)"></status>
<form class="form-inline adduser">
    <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" [(ngModel)]="newQuizUser.QuizUserId"
            name="quizUserId">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Password</label>
        <input type="password" class="form-control" id="exampleInputEmail2" placeholder="any" [(ngModel)]="newQuizUser.Password" name="quizuserpassword">
    </div>
    <div class="form-group">
        <label for="category">Groups</label>
        <select class="form-control" [(ngModel)]="selectedGroup" [ngModelOptions]="{standalone: true}" #questioncategory>
            <option *ngFor="let x of groups" [value]="x.Name" [selected]="selectedGroup == x.Name">{{x.Name}}</option>
        </select>
    </div>
    <!-- <div class="checkbox">
        <label>
            <input type="checkbox" [(ngModel)]="newQuizUser.IsAdmin" name="quizuseradmin"> Admin
        </label>
    </div> -->
    <button type="submit" class="btn btn-success" (click)="addUser()">Add User</button>
    <button type="button" class="btn addbtn btn-default" (click)="goToGroup()">Manage Groups</button>
</form>
<p style="color: red; font-size: 10px">Delete User: Once the user is deleted, the same user will never be able to be-added again. For more info, contact Super Admin</p>
<table class="table">
    <thead>
        <th>Name</th>
        <th style="color: white">Password</th>
        <th>Admin</th>
        <th></th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of quizUsers">
            <td>{{item.QuizUserId}}</td>
            <td style="color: white">{{item.Password}}</td>
            <td>{{item.IsAdmin}}</td>
            <td>
                <button type="button" id="delete" class="btn btn-info btn-sm" (click)="assignGroups(item.QuizUserId)">
                    Assign Groups
                </button>
            </td>
            <td>
                <button type="button" id="delete" class="btn btn-danger btn-sm" (click)="deleteUser(item.QuizUserId)">
                    <span class="glyphicon glyphicon-ban-circle"></span> Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>